In [67]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(10, 4), columns=list('ABCD'))
print(df.head())

          A         B         C         D
0  1.586727 -0.387546  0.721703 -0.587300
1  0.483400  1.183162 -0.908605 -1.307337
2  2.147616  0.253612  0.876786 -0.644076
3  1.866404  0.318435 -0.242511 -1.767967
4 -0.452122 -1.402033 -0.424631 -1.257482

In [68]:
df.query('A > B')

          A         B         C         D
0  1.586727 -0.387546  0.721703 -0.587300
2  2.147616  0.253612  0.876786 -0.644076
3  1.866404  0.318435 -0.242511 -1.767967
4 -0.452122 -1.402033 -0.424631 -1.257482
7  1.024599 -2.062818  1.825015  1.011666
9 -0.196190 -1.505561 -0.078221 -1.475748

In [69]:
df.query('A > B & B > C')

          A         B         C         D
3  1.866404  0.318435 -0.242511 -1.767967

In [70]:
df.query('A > B | B > C')

          A         B         C         D
0  1.586727 -0.387546  0.721703 -0.587300
1  0.483400  1.183162 -0.908605 -1.307337
2  2.147616  0.253612  0.876786 -0.644076
3  1.866404  0.318435 -0.242511 -1.767967
4 -0.452122 -1.402033 -0.424631 -1.257482
5 -1.404753 -0.091182 -0.241772 -0.446575
6 -0.481767  0.642526  0.032675  1.286304
7  1.024599 -2.062818  1.825015  1.011666
8 -0.048307  1.547050 -0.707186 -0.396924
9 -0.196190 -1.505561 -0.078221 -1.475748

In [71]:
df.query('A > B & B > C | C > D').groupby('A').sum()

                  B         C         D
A
-1.404753 -0.091182 -0.241772 -0.446575
-0.452122 -1.402033 -0.424631 -1.257482
-0.196190 -1.505561 -0.078221 -1.475748
 0.483400  1.183162 -0.908605 -1.307337
 1.024599 -2.062818  1.825015  1.011666
 1.586727 -0.387546  0.721703 -0.587300
 1.866404  0.318435 -0.242511 -1.767967
 2.147616  0.253612  0.876786 -0.644076

In [72]:
l = [[1, 2, 3], [1, None, 4], [2, 1, 3], [1, 2, 2]]
df = pd.DataFrame(l, columns=["a", "b", "c"])
print(df.head())
df.groupby('b').sum()

   a    b  c
0  1  2.0  3
1  1  NaN  4
2  2  1.0  3
3  1  2.0  2

     a  c
b
1.0  2  3
2.0  2  5

In [73]:
df.groupby(by=["b"], dropna=False).sum()

     a  c
b
1.0  2  3
2.0  2  5
NaN  1  4

In [ ]:
index = pd.MultiIndex.from_product([["A", "B"], ["a", "b"]])
df = pd.DataFrame(np.random.randn(4), index=index, columns=["col"])
print(df.head())


idx = pd.Index([1, 2, 3])
df = pd.DataFrame(np.random.randn(3, 3), index=idx)
print(df.head())